<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/mainpage.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Book review app</h1>
    <div class="create-new-container">
        <a href="book-create" class="btn btn-default">Create new</a>
    </div>
    <table>
        <% books.forEach(item => { %>
            <tr>
                <td><%=item.book.title %></td>
                <td><%=item.book.author %></td>
                <td><%=item.book.genre %></td>
                <td class="action">
                    <a class="btn btn-default" href="api/book-view/<%= item.id %>">See review</a>
                    <a class="btn btn-default" href="book-update/<%= item.id %>">Update</a>
                    <a class="btn btn-default" href="api/book-delete/<%= item.id %>">Delete</a>
                </td>
            </tr>
        <%}); %>
    </table>
    </div>
</body>
</html>